
#section{
  display: flex;
  width: 28vw; 
  min-height: 70vh;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-start;
  background-color: white; 
  padding: 1vw 1.5rem 1vw 1.5rem;
}
#title{
font-weight: normal;
font-size: 1.5rem;
margin: 0 0 1.5rem 0;
}
h1 {
  font-size: 1rem;
}
h2 {
  font-size: 0rem;
}
#section button{
display: block;
width: 100%;
font-size: 1rem;
font-weight: medium;
padding: 0.5rem 0;
margin: 0.3rem auto;
color: white;
background-color: #f28ab2;
border: transparent;
outline: 1px solid rgba(242, 138, 178, 0.8);
cursor: pointer;
}
